.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid whitesmoke;
}
.header h1 {  
  text-align: center; 
  color: whitesmoke;
  width: 90%;
}


.formBox {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 60%;
  background-color: whitesmoke;
  margin: 50px auto;
  box-shadow: 1px 1px 10px whitesmoke;
  border-radius: 10px;
}

.personal {
  border-bottom: 3px solid darkblue;
  padding: 15px 0;
}
.location { 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 3px solid darkblue;
  padding: 15px 0;
}

.devices {
  padding: 15px 0;
}

.devicesDetails {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid darkblue; 
  border-radius: 5px;
  padding: 15px;
}

.formBox input, .boxEquipments select {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.465);
  padding: 2px;
  border-radius: 5px;
}

.formBox input::placeholder { font-style: italic; }

.formBox button { 
  margin: 15px auto; 
  padding: 5px;
  border: 1px solid rgba(128, 128, 128, 0.465); 
  border-radius: 5px;
  width: 80%;
  box-shadow: 1px 1px solid black;
  cursor: pointer;
}
.formBox button:hover {
  box-shadow: 1px 1px 8px darkblue;
  background-color: darkblue; 
  color: whitesmoke;
  font-weight: bold;
}